<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
    <link rel="stylesheet" href="./../styles/estilos.css">
</head>
<body>
    <header>
        <h1><a href= ./../index.html title="home">David Rodriguez</a></h1>
        <ul>
            <li><a href="./../index.html" title="Inicio">Inicio</a></li>
            <li><a class="active" href="#" title="Galeria">Galería</a></li>
            <li><a href="./presupuesto.html" title="Presupuesto">Presupuesto</a></li>
            <li><a href="./contacto.html" title="Contacto">Contacto</a></li>
        </ul>
    </header>
    <main>
        <section class="galeria">
            <h2>Servicios</h2>
            <div class="galeria-container">
                <div class="contenedor"><img src="./../assets/pexels-pixabay-207580.jpg" alt="ñinux" height="2870" width="3827" ><p>Configuracion de entornos Linux</p></div>
                <div class="contenedor"><img src="./../assets/pexels-tanasovich-2588757.jpg" alt="hardware" widht="5184" height="3456"><p>Servicio de hardware</p></div>
                <div class="contenedor"><img src="./../assets/pexels-danny-meneses-340146-943096.jpg" alt="hacking" width="6000" height="4000"><p>Hacking y pentesting</p></div>
                <div class="contenedor"> <img src="./../assets/pexels-caio-67112.jpg" alt="SEO" widht="6016" height="4000"><p>Asesoría en optimización de motores de búsqueda</p></div>
                <div class="contenedor"><img src="./../assets/pexels-tara-winstead-8386440.jpg" alt="IA" widht="6177" height="4118"><p>Implementación adaptativa de redes neuronales</p></div>
                <div class="contenedor"><img src="./../assets/pexels-picjumbo-com-55570-196645.jpg" alt="maquetacion" widht="4000" height="2667"><p>Maquetación de páginas web</p></div>
                    
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Mi página web. Todos los derechos reservados.</p>
        <p>Desarrollado por David Rodriguez</p>
        <ul class="social-media">
            <li><a href="https://www.github.com" target="_blank"><img src="./../assets/github-142-svgrepo-com.svg" alt="Github logo" title="Github"></a></li>
            <li><a href="https://www.instagram.com" target="_blank"><img src="./../assets/instagram-svgrepo-com.svg" alt="Instagram logo" title="Instagram"></a></li>
            <li><a href="https://www.linkedin.com/in/" target="_blank"><img src="./../assets/linkedin-svgrepo-com.svg" alt="LinkedIn logo" title="LinkedIn"></a></li>
        </ul>        
    </footer>
</body>
</html>
    